.siswa-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siswa-item {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 48px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 5px 0;
    padding: 10px;
}

.nomor {
    flex: 1;
    text-align: center;
}

.nama {
    flex: 2;
}

.tgl-lahir {
    flex: 2;
}

.siswa-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
}

.nomor {
    width: 30px;
    height: 30px;
    background-color: #007bff00;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.nama {
    flex: 2;
}

.tgl-lahir {
    flex: 2;
}

.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}